<div class="media comment-row">
    <div class="media-body">
        <div class="media-heading text-muted">
            <div class="pull-left comment-details">
                <span><i class="fa-user"></i> {% if comment.author is not null %}{{ comment.author.username }}{% else %}{{ comment.name }}{% endif %}</span>
                <span><i class="fa-clock-o"></i> {{ comment.createdOn|date('d/m/Y H:i') }}</span>
            </div>

            <div class="pull-right comment-buttons">
                {% if app.user and app.user.hasGroup('admin') %}
                    <button class="btn btn-link comment-reply" data-id="{{ comment.id }}">
                        <i class="fa-reply"></i> Reply
                    </button>
                    <button class="btn btn-danger comment-delete" data-url="{{ url('linestorm_cms_module_comment_api_delete_provider_thread_comment', {provider: provider, thread: comment.thread.id, id: comment.id}) }}">
                        <i class="fa-trash-o"></i> Delete
                    </button>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
        <p>
            {{ comment.body }}
        </p>
    </div>
</div>
