<div class="media comment-row">
    <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
    </a>
    <div class="media-body">
        <div class="media-heading text-muted">
            <div class="pull-left comment-details">
                <span><i class="fa-user"></i> {% if comment.author is not null %}{{ comment.author.username }}{% else %}{{ comment.name }}{% endif %}</span>
                <span><i class="fa-clock-o"></i> {{ comment.createdOn|date('d/m/Y H:i') }}</span>
            </div>

            <div class="pull-right comment-buttons">
                {% if not comment.parent %}
                    <button class="btn btn-link comment-reply" data-url="{{ url('linestorm_comment_api_new_provider_thread_comment_reply', {provider: provider, thread: comment.thread.id, id: comment.id} ) }}">
                        <i class="fa-reply"></i> Reply
                    </button>
                {% endif %}
                {% if app.user and app.user.hasGroup('admin') %}
                    <button class="btn btn-danger comment-delete" data-url="{{ url('linestorm_comment_api_delete_provider_thread_comment', {provider: provider, thread: comment.thread.id, id: comment.id}) }}">
                        <i class="fa-trash-o"></i> Delete
                    </button>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
        <p>
            {{ comment.body }}
        </p>

        {% if comment.children|length %}
            {% for child_comment in comment.children %}
                {{ include('LineStormCommentBundle:Comment:view.html.twig', {comment: child_comment}) }}
            {% endfor %}
        {% endif %}
    </div>
</div>
